@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow:ital,wght@0,600;1,600&family=Commissioner:wght@400;500;700;800&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&family=Manrope:wght@600;800&family=Outfit:wght@300;400;600&family=Overpass:ital,wght@0,300;0,600;1,300;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Space+Mono:ital,wght@0,400;0,700;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Alata", sans-serif;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.img-mobile {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
}

/* ========================================================================== */
/*                                    HEAD                                    */
/* ========================================================================== */
.head {
  width: 100%;
  padding: 3rem 6rem;
  background-image: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.tg-icon {
  display: none;
}

/* ------------------------------- head-toggle ------------------------------ */
.head-toggle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.head-toggle .tg-img {
  min-width: 130px;
  min-height: 40px;
  z-index: 100;
}

.head-toggle .tg-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.head-toggle .tg-menu a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.head-toggle .tg-menu a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: white;
  top: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.head-toggle .tg-menu a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* -------------------------------- head-tile ------------------------------- */
.head-title {
  margin: 5rem 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 32ch;
  line-height: 1.1;
  font-size: 1.3rem;
  padding: 1rem;
  border: 1px solid white;
  text-align: left;
  background: transparent;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
}

/* ========================================================================== */
/*                                    SEC1                                    */
/* ========================================================================== */
.sec1 {
  padding: 6rem 6rem 0 6rem;
  background: white;
  position: relative;
  width: 100%;
}

/* ----------------------------------- img ---------------------------------- */
.sec1-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ---------------------------------- title --------------------------------- */
.sec1-title {
  max-width: 40ch;
  padding: 4rem;
  padding-bottom: 0;
  padding-right: 0;
  width: 50%;
  background: white;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.sec1-title h2 {
  max-width: 20ch;
  font-size: 2.3rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-transform: uppercase;
  opacity: 0.7;
}

.sec1-title p {
  font-size: 1rem;
  opacity: 0.7;
}

/* ========================================================================== */
/*                                    SEC2                                    */
/* ========================================================================== */
.sec2 {
  width: 100%;
  padding: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ---------------------------------- title --------------------------------- */
.sec2-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.sec2-title h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
}

.sec2-title button {
  color: rgba(255, 255, 255, 0.98);
  background: black;
  padding: 0.3rem 2.2rem;
  border: none;
  cursor: pointer;
}

.sec2-title button:hover {
  background: rgba(0, 0, 0, 0.599);
}

/* ----------------------------------- img ---------------------------------- */
.sec2-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.sec2-img .img-desktop {
  position: relative;
}

.sec2-img .img-desktop img {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.sec2-img .img-desktop .title-img {
  position: absolute;
  top: 75%;
  left: 20%;
  width: 9ch;
  height: auto;
  text-shadow: 1px 2px 8px black;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: white;
  letter-spacing: 2px;
  font-weight: 100;
  opacity: 0.7;
}

.sec2-img .img-desktop .grid {
  width: 4ch;
}

/* ========================================================================== */
/*                                    FOOT                                    */
/* ========================================================================== */
.footer {
  padding: 2rem 6rem;
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

/* ---------------------------------- link ---------------------------------- */
.foot-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.foot-menu .foot-menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.foot-menu .foot-menu-link a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.foot-menu .foot-menu-link a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: white;
  top: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.foot-menu .foot-menu-link a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* ---------------------------- .foot-social-icon --------------------------- */
.foot-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  /* ---------------------------------- icon ---------------------------------- */
  /* ---------------------------------- rights --------------------------------- */
}

.foot-social .foot-social-icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.foot-social .foot-social-icon .icon-wrap {
  padding-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
}

.foot-social .foot-social-icon .icon-wrap::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  background: wheat;
  top: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.foot-social .foot-social-icon .icon-wrap:hover::before {
  width: 100%;
}

.foot-social span {
  color: white;
  opacity: 0.7;
  text-align: right;
}

@media screen and (max-width: 1023.98px) {
  /* ---------------------------------- head ---------------------------------- */
  .head {
    padding: 2rem 3rem;
  }
  /* ---------------------------------- sec1 ---------------------------------- */
  .sec1 {
    padding: 3rem;
    padding-bottom: 0;
  }
  .sec1 .sec1-title {
    padding: 2rem;
    padding-bottom: 0;
    padding-right: 0;
    max-width: 60ch;
    right: 0%;
  }
  .sec1 .sec1-title h2 {
    font-size: 2rem;
  }
  .sec1 .sec1-title p {
    padding-right: 4rem;
  }
  /* ---------------------------------- sec2 ---------------------------------- */
  .sec2 .sec2-img .title-img {
    font-size: 1.1rem;
    left: 15px;
    bottom: 20px;
    top: unset;
  }
  /* --------------------------------- fooot --------------------------------- */
  .footer {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 767.98px) {
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
  }
  /* ========================================================================== */
  /*                                    HEAD                                    */
  /* ========================================================================== */
  .head {
    padding: 3rem 2rem;
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: 100%;
    background-position: center center;
  }
  /* --------------------------------- toggle --------------------------------- */
  .tg-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    cursor: pointer;
    z-index: 6;
  }
  .tg-icon img {
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .tg-icon img:nth-of-type(1) {
    display: none;
  }
  .tg-icon.active > img:nth-of-type(1) {
    display: block;
  }
  .tg-icon.active > img:nth-of-type(2) {
    display: none;
  }
  .head-toggle .tg-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: black;
    width: 100%;
    min-height: 100vh;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    position: absolute;
    left: -100%;
    top: 0%;
    z-index: 3;
  }
  .head-toggle .tg-menu a {
    font-weight: 100;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 2rem;
    text-transform: uppercase;
  }
  .head-toggle .tg-menu a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: white;
    top: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .head-toggle .tg-menu.active {
    left: 0%;
  }
  .tg-img {
    min-width: unset;
    min-height: unset;
  }
  /* ---------------------------------- title --------------------------------- */
  .head-title {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    font-size: 1rem;
  }
  .head-title h1 {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  /* ========================================================================== */
  /*                                    SEC1                                    */
  /* ========================================================================== */
  .sec1 {
    padding: 2rem;
    padding-bottom: 0;
  }
  .sec1 .sec1-title {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2rem;
    right: 0%;
  }
  .sec1 .sec1-title h2 {
    margin: auto;
  }
  .sec1 .sec1-title p {
    padding: 1rem;
  }
  /* ========================================================================== */
  /*                                    SEC2                                    */
  /* ========================================================================== */
  .sec2 {
    padding: 2rem;
    padding-bottom: 10rem;
    position: relative;
  }
  .sec2-title h2 {
    width: 100%;
    text-align: center;
    font-weight: 100;
  }
  .sec2-title button {
    position: absolute;
    color: black;
    background: white;
    border: 2px solid black;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 2%;
    padding: 0.5rem 3rem;
    z-index: 5;
  }
  .sec2-title button:hover {
    background: rgba(220, 215, 215, 0.592);
  }
  .sec2-img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .sec2-img .img-mobile {
    position: relative;
  }
  .sec2-img .img-mobile img {
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
  .sec2-img .img-mobile .title-img {
    position: absolute;
    top: 60%;
    left: 10%;
    width: 9ch;
    text-shadow: 1px 2px 8px black;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    opacity: 0.9;
  }
  .sec2-img .img-mobile .grid {
    width: 4ch;
  }
  /* ========================================================================== */
  /*                                    FOOT                                    */
  /* ========================================================================== */
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot-menu img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 1rem;
  }
  .foot-menu .foot-menu-link {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot-social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot-social .foot-social-icon {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .foot-social span {
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  /* ========================================================================== */
  /*                                    SEC2                                    */
  /* ========================================================================== */
  /* ----------------------------------- img ----------------------------------- */
  .sec2-img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .sec2-img .img-mobile {
    position: relative;
  }
  .sec2-img .img-mobile img {
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
  .sec2-img .img-mobile .title-img {
    position: absolute;
    top: unset;
    bottom: 15spx;
    left: 10%;
    width: 9ch;
    text-shadow: 1px 2px 8px black;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    opacity: 0.9;
  }
  .sec2-img .img-mobile .grid {
    width: 4ch;
  }
}
/*# sourceMappingURL=manin.css.map */